<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="DEMOQAFramework.DEMOQAFramework.AmazonSignTestcase"/>
      <class name="DEMOQAFramework.DEMOQAFramework.BigironHomeTC1"/>
      <class name="DEMOQAFramework.DEMOQAFramework.AmazonHomepageTestcase"/>
      <class name="DEMOQAFramework.DEMOQAFramework.BigSigninTC"/>
      <class name="DEMOQAFramework.DEMOQAFramework.BigirontractorTC"/>
      <class name="DEMOQAFramework.DEMOQAFramework.LoginTestcases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
